body{
    background: linear-gradient(180deg,#c1e1ff 0%,#0085ff 100%);
    min-height: 100vh;
    font-family: 'Montserrat' ,sans-serif;
}

.container{
    background-color: #fff;
    width: 400px;
    margin: 100px auto;
    padding:  10px 100px;
    border-radius: 30px;
}

.todo-list-title{
    position: relative;
    left: -20px;
    font-size: 32px;
    font-weight: 700;
}

.inner-wrapper{
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
}

.input-wrapper{
    border-radius: 20px;
    background-color: #c5c5c5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 424px;
}

.input-wrapper input{
    background-color: transparent;
    border: none;
    flex: 1;
    outline: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
}

.input-wrapper button{
    background-color: #359aff;
    border: 0;
    color: #FFF;
    font-family: 'Montserrat' ,sans-serif;
    font-size: 14px;
    padding: 10px 13px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
}

.list{
    list-style: none;
    padding: 0px;   
}

.list li{
    vertical-align: middle;
    font-weight: 700px;
    padding: 5px;
    position: relative;
}

.list li.checked{
    text-decoration: line-through;
}

.list li::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../assets/unchecked.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
}

.list li.checked::before{
    background-image: url('../assets/checked.svg');
}

.delete{
    background-image: url('../assets/delete.svg');
    border-radius: 25px;
    padding: 5px;
    background-position: center;
    object-fit: cover;
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
}

.delete:hover{
    background-color: #EEEFF0;
    cursor: pointer;
}